.container-card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/*border: 2px solid ;*/
width: 34vh;
height: 34vh;
margin-right: 5px;
margin-left: 5px;
}
.container-card02{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
/*border: 2px solid ;*/
}
.container-card03{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
width: 50%;
}
.container04{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 29vh;
height: 14vh;
/*border: 2px solid ;*/
padding: 4px;
}
.para-card{
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 400;
    color: black;
    padding-top:0px ;
}
.icon-image{
    width: 4.5vh;
    height: 6vh;
    padding-top: 15px;
}
.para-card0{
    font-family: "Roboto";
    font-size: 9px;
    font-weight: 400;
    color: rgb(146, 146, 146);
    padding-right: 5px;
}
.container-card-ul{
    padding-left: 11px;
}
.icon-image-wall{
    width: 34vh;
    height: 18vh;
}